{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color:#f0f0f0; border-radius: 8px;">
    <div class="row">
            <div class="card">
                <img src="{{gameInfo.thumbnail}}"><br>
                <div class="card-body">
                    <a style="textAlign: 'center'" href={{gameInfo.game_url}}>{{gameInfo.title}}</a>
                    <p>{{gameInfo.genre}}</p>
                    <p>{{gameInfo.plataform}}</p>
                    <p>{{gameInfo.developer}}</p>
                    <p>{{gameInfo.release_date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}