<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videojogos</title>
</head>
<body>
    <h1>Videojogos são legais</h1>
    <hr>
    <h2>Game mais jogado no momento:</h2>
    <!-- <ul>
        <li>Titulo: {# {titulo} #}</li>
        <li>Ano: {# {ano} #}</li>
        <li>Categoria: {# {categoria} #}</li>
    </ul> -->

{% for chave, valor in game.items() %}
<details>
    <summary>{{chave}}
    </summary>     {{valor}}
</details>
{% endfor %}


    <p>{{game['titulo']}} tem {{2025 - game['ano']}} anos.</p>
    <hr>
    <p>{{game['titulo']}} esta sendo jogador por</p>
    <ol>
        {% for jogador in jogadores %}
        <li>{{jogador}}</li>
        {% endfor %}
    </ol>
    <hr>
    <h4>Entrar no jogo:</h4>
    <form action="{{url_for('games')}}" method="POST">
        <label>Jogador:</label>
        <input type="text" name="Jogador">
        <input type="submit" name="Entrar">
    </form>
    <hr>
    <p>Outros jogos sendo jogados no momento:</p>
    <ul>
        {% for game in games %}
        <li>{{game}}</li>
        {% endfor %}
    </ul>

</body>
</html>